<div class="alert alert-dark" role="alert">
    <h4 class="heading-alert">Maaf</h4>
    <p><%= info %></p>
    <hr>
    <p class="mb-0">
        <a href="/" class="btn btn-outline-dark" role="button">Back</a>
    </p>
</div>