<div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <div><i class="bi bi-check-all me-3"></i><%= info %></div>
    <hr />
    <a href="/" class="mb-0 btn btn-secondary">Back</a>
  </div>
  