<nav class="navbar header">
    <div class="container-fluid">
        <div id="button-menu ms-auto menu">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu" id="label-menu">
                <i class="bi bi-list"></i>
            </label>
        </div>
    
        <form class="d-flex search-section" method="get" action="/">
            <input class="form control me-2" type="search" placeholder="search-car" aria-label="search">
            <button class="btn btn-outline-succes" type="submit">Search</button>
        </form>

        <div class="admin-account">
            <div class="admin">
                <img src="images/undifined_image" alt="admin-photo"  class="img-thumbnail rounded-circle" width="30">
            </div>

            <span class="me-2 ms-2">admin</span>
            <i class="bi bi-box-arrow-right"></i>
        </div>
   </div>
</nav>