<div class="navbar top-navbar text-center" style="padding-bottom: 800px">
    <ul class="nav flex-column">
      <li class="nav-item mb-5">
        <a class="navbar-brand" href="/">
          <img src="/images/navbar-brand.png" alt="" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          ><i class="bi bi-house-door"></i>Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nyala" href="/"
          ><i class="bi bi-truck"><br /></i>Cars</a
        >
      </li>
    </ul>
  </div>
  