<div class="sidebar text-start">
    <div class="header-sidebar mb-5">
      <div class="list-item">
        <a href="/" class="navbar-brand">
          <img src="/images/sidebar-brand.png" alt="" />
        </a>
      </div>
    </div>
    <div class="main-sidebar">
      <div class="list-item">
        <a href=""><span class="description">CARS</span></a>
      </div>
      <div class="list-item" style="background-color: #cfd4ed">
        <a href=""><span class="description">List Car</span></a>
      </div>
    </div>
  </div>
  